<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-ch rnr-c-dcount">


<div  class="style1 rnr-bl rnr-b-bsdetailspreviewcount {$brickclass_bsdetailspreviewcount}"><span {$bsdetailspreviewcount_hiddenattr} data-pageid="{$pageid}" data-brick="bsdetailspreviewcount">Details found: <strong>{$row_count}.</strong></span>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="table striped">
{BEGIN details_row_header}
	<thead>
		<tr class="{$gridHeader_class}" >
			<th class="{$task_id_class}">{$label tasks_stakeholders task_id}</th>
			<th class="{$stakeholder_id_class}">{$label tasks_stakeholders stakeholder_id}</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr>
			<td class="{$task_id_class}">{$task_id_value}</td>
			<td class="{$stakeholder_id_class}">{$stakeholder_id_value}</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>