<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel tasks masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
		<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$task_done_class}">{$label tasks task_done}</th>
			<th class="{$task_completed_class}">{$label tasks task_completed}</th>
			<th class="{$task_timestamp_class}">{$label tasks task_timestamp}</th>
			<th class="{$task_project_class}">{$label tasks task_project}</th>
			<th class="{$task_modify_date_class}">{$label tasks task_modify_date}</th>
			<th class="{$task_subject_class}">{$label tasks task_subject}</th>
			<th class="{$task_body_class}">{$label tasks task_body}</th>
			<th class="{$task_attachments_class}">{$label tasks task_attachments}</th>
			<th class="{$task_start_date_class}">{$label tasks task_start_date}</th>
			<th class="{$task_end_date_class}">{$label tasks task_end_date}</th>
			<th class="{$task_obs_class}">{$label tasks task_obs}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$task_done_class}">{$task_done_mastervalue}</td>
			<td class="{$task_completed_class}">{$task_completed_mastervalue}</td>
			<td class="{$task_timestamp_class}">{$task_timestamp_mastervalue}</td>
			<td class="{$task_project_class}">{$task_project_mastervalue}</td>
			<td class="{$task_modify_date_class}">{$task_modify_date_mastervalue}</td>
			<td class="{$task_subject_class}">{$task_subject_mastervalue}</td>
			<td class="{$task_body_class}">{$task_body_mastervalue}</td>
			<td class="{$task_attachments_class}">{$task_attachments_mastervalue}</td>
			<td class="{$task_start_date_class}">{$task_start_date_mastervalue}</td>
			<td class="{$task_end_date_class}">{$task_end_date_mastervalue}</td>
			<td class="{$task_obs_class}">{$task_obs_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>