<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><span>{$pagetitlelabel tasks masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=task_id]:before {
		content: "{$label tasks task_id}";
	}
	.bs-gridcell[data-field=task_subject]:before {
		content: "{$label tasks task_subject}";
	}
	.bs-gridcell[data-field=task_body]:before {
		content: "{$label tasks task_body}";
	}
	.bs-gridcell[data-field=task_attachments]:before {
		content: "{$label tasks task_attachments}";
	}
	.bs-gridcell[data-field=task_start_date]:before {
		content: "{$label tasks task_start_date}";
	}
	.bs-gridcell[data-field=task_end_date]:before {
		content: "{$label tasks task_end_date}";
	}
	.bs-gridcell[data-field=task_modify_date]:before {
		content: "{$label tasks task_modify_date}";
	}
	.bs-gridcell[data-field=task_project]:before {
		content: "{$label tasks task_project}";
	}
	.bs-gridcell[data-field=task_obs]:before {
		content: "{$label tasks task_obs}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$task_subject_class}">{$label tasks task_subject}</th>
			<th class="{$task_body_class}">{$label tasks task_body}</th>
			<th class="{$task_attachments_class}">{$label tasks task_attachments}</th>
			<th class="{$task_start_date_class}">{$label tasks task_start_date}</th>
			<th class="{$task_end_date_class}">{$label tasks task_end_date}</th>
			<th class="{$task_modify_date_class}">{$label tasks task_modify_date}</th>
			<th class="{$task_project_class}">{$label tasks task_project}</th>
			<th class="{$task_obs_class}">{$label tasks task_obs}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$task_subject_class} bs-gridcell" data-field=task_subject>{$task_subject_mastervalue}</td>
			<td class="{$task_body_class} bs-gridcell" data-field=task_body>{$task_body_mastervalue}</td>
			<td class="{$task_attachments_class} bs-gridcell" data-field=task_attachments>{$task_attachments_mastervalue}</td>
			<td class="{$task_start_date_class} bs-gridcell" data-field=task_start_date>{$task_start_date_mastervalue}</td>
			<td class="{$task_end_date_class} bs-gridcell" data-field=task_end_date>{$task_end_date_mastervalue}</td>
			<td class="{$task_modify_date_class} bs-gridcell" data-field=task_modify_date>{$task_modify_date_mastervalue}</td>
			<td class="{$task_project_class} bs-gridcell" data-field=task_project>{$task_project_mastervalue}</td>
			<td class="{$task_obs_class} bs-gridcell" data-field=task_obs>{$task_obs_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>